* {
  list-style: none; }

h1 {
  color: pink; }

ul {
  display: flex;
  flex-direction: row; 
  li:first-child {
    border: 1px solid blue;
    margin-right: 20px;
    padding: 60px;
    background-color: #87CEFA; }
  li:nth-child(2) {
    border: 1px solid blue;
    margin: 0 20px;
    padding: 40px;
    background-color: #FFA07A; 
    font-size: 20px;
}
  li:last-child {
    border: 1px solid blue;
    margin-left: 20px;
    padding: 60px;
    background-color: #98FB98; }
}
button {
	display: block;
	margin-left: 300px;
	margin-top: 50px;
	padding: 10px 20px;
	background-color: #00FF00;
}